    <main>
        <div class="row">
            <h3 class="col-12">
                The opportunity to serve my clients and aide my company, using the skills I have attained through the education that I dedicated myself to, is my mission.
            </h3>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Primary Skills:</h4>
                    <ul>
                        <li>Client-Side Scripting | JavaScript, AJAX, JQuery</li>
                        <li>Server-Side Languages | C# .NET, Node.js</li>
                        <li>Web Services | Web API</li>
                        <li>Client-Side Markup | HTML5, HTML, CSS3, CSS</li>
                    </ul>
            </div>
        </div>

        <form class="row">
            <div class="col-12">
                <div>
                    <input id="name" type="text" required placeholder="Name (Max Characters of 70)" maxlength="70" />
                </div>
                <div>
                    <input id="email" type="email" required placeholder="Email Address (Max Characters of 128)" maxlength="128" />
                </div>
                <div>
                    <textarea id="comment" placeholder="Description of Request (Max Characters of 1000)" maxlength="1000" required></textarea>
                </div>
                <div class="g-recaptcha" data-sitekey="6LeM2h4UAAAAAMCU2nq6l_P4itiZcbRqfliEBZOz"></div>
                <div>
                    <button id="submit" type="button">Submit</button>
                </div>
            </div>
        </form>

    </main>
